<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Console appender for test output -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -- %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Set logging levels -->
    <logger name="com.ecom.automation" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
    
    <!-- Reduce noise from other libraries -->
    <logger name="org.apache.http" level="WARN"/>
    <logger name="com.fasterxml.jackson" level="WARN"/>
    <logger name="io.cucumber" level="INFO"/>
    <logger name="org.testng" level="INFO"/>
    
    <!-- Root logger -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
